{% extends "base.html" %}
{% block title %}Logout{% endblock %}
{% block head %}
<link rel="apple-touch-icon" sizes="180x180" href="{static/favicon/apple-touch-icon-180x180.png}">
    <link rel="icon" type="image/png" sizes="32x32" href="static/favicon/apple-touch-icon-72x72.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/favicon/apple-touch-icon-57x57.png">
    <link rel="mask-icon" href="static/favicon/safari-pinned-tab.svg" color="#f5f1e4">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="favicon/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">
{% endblock %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <h3>{% trans "Sign Out" %}</h3>

            <p>{% trans 'Are you sure you want to sign out?' %}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">

            <form method="post" action="{% url 'account_logout' %}">
                {% csrf_token %}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button class="btn btn-signup right" type="submit">{% trans 'Sign Out' %}</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}