{% extends 'base.html' %}
{% block title %}About Us{% endblock %}
{% block head %}
{{ 'super()' }}
{% endblock %}
{% load static %}

{% block content %}

<div class="container-fluid bg-dark my-5">
    <div class="row cols-md-2">
        <div class="col-xl-6 text-center">
            <div><img class="img-fluid my-5 ps-0"
                    src="https://res.cloudinary.com/dhl4uxgix/image/upload/v1692642528/Foods/varies_fresh_veg_and_fruits_gcqpcq.png" width="800" height="457"
                    alt="Design Display fresh vegetables and fruits" class="d-inline-block align-text-middle"
                    alt="Design Display fresh vegetables and fruits">
            </div>
        </div>
        <div class="col-xl-6 text-white">
            <div>
                <div class="col mt-5 p-3  text" style=" line-height: 1.8;">
                    <h3 class="text_head"> About Us</h3>
                    <p>Introducing our delectable and nutritious food delivery service! 
                        Our menu boasts a wide variety of mouth-watering dishes that 
                        are not only delicious but also healthy. With our easy-to-use 
                        ordering system, you can conveniently place your order and have 
                        it delivered straight to your doorstep. Our team of expert chefs 
                        use only the freshest and finest ingredients to ensure that every 
                        meal is packed with flavor and nutrition. 
                        Whether you're looking for a quick lunch or a hearty dinner, our 
                        food delivery service has got you covered. Try us out today and 
                        experience the convenience of healthy and delicious 
                        food at your fingertips!</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}