<!-- for Link Active in navbar -->
{% url 'home' as home %}
{% url 'order_foods' as order_foods %}
{% url 'aboutus' as aboutus %}
{% url 'contact' as contact %}
{% url 'profile' as profile %}
{% url 'account_logout' as account_logout %}

{% load static %}

<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Order Foods{% endblock %}</title>
    <meta name="description" content="Introducing our new line of organic foods, carefully crafted to nourish your body and soul. With every bite, you'll feel the difference in your energy levels, digestion, and overall well-being. Say goodbye to processed junk and hello to a healthier, happier you with our delicious and nutritious offerings.">

    <meta name="keywords" content=" order foods online, health foods, posh foods, luxury foods">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
        </script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <link rel="icon" type="image/x-icon" href="/static/favicon/favicon.ico">
</head>

<body class="d-flex flex-column h-100 main-bg">

    <!-- Navigation -->

    <nav class="navbar navbar-expand-lg navbar-dark light-bg">
        <div class="container-fluid">
            <div class="col navbar-brand">
            <a class="d-inline-block align-text-middle brand_box" style="text-decoration: none;"
                href="{% url 'home' %}"><img class="img-fluid" width="90" height="90"
                    src="https://res.cloudinary.com/dhl4uxgix/image/upload/c_scale,w_90/v1692643267/Foods/Order_logo_ebqmzf.png"
                    alt="Order food location logo" aria-label="Order food location logo"><span
                    class=" h4 m-2 logo_text text-white">Order Foods &
                    Delivery</span></a></div>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <img class="img-fluid" src="https://res.cloudinary.com/dhl4uxgix/image/upload/c_scale,w_60/v1692643458/Foods/bars-solid_hirhum.png" alt="toggle dash button">
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item text-center m-1 {% if request.path == home %}active{% endif %}">
                        <a class="nav-link" aria-current="page" href="{% url 'home' %}">Home</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item text-center m-1 {% if request.path == order_foods %}active{% endif %}">
                        <a class="nav-link" href="{% url 'order_foods' %}">Order Foods</a>
                    </li>
                    <li class="nav-item text-center m-1 {% if request.path == profile %}active{% endif %}">
                        <a class="nav-link" href="{% url 'profile' %}">Profile</a>
                    </li>
                    <li class="nav-item text-center m-1 {% if request.path == account_logout %}active{% endif %}">
                        <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item text-center m-1 {% if request.path == order_foods %} active {% endif %}">
                        <a class="nav-link" aria-current="page" data-bs-toggle="modal"
                            data-bs-target="#submitModal_1" href="{% url 'order_foods' %}">Order
                            Foods</a>
                    </li>
                    {% endif %}
                    <li class="nav-item text-center m-1 {% if request.path == aboutus %}active{% endif %}">
                        <a class="nav-link" aria-current="page" href="{% url 'aboutus' %}">About Us</a>
                    </li>

                    <li class="nav-item text-center m-1 {% if request.path == contact %}active{% endif %}">
                        <a class="nav-link" aria-current="page" href="{% url 'contact' %}">Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="login-signup" tabindex="-1" role="dialog" aria-labelledby="ModelLoginSignupLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="login-signup">Login / Sign up</h5>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-footer">
                        <a class="nav-link text-white btn btn-dark" href="{% url 'account_login' %}">Login</a>
                        <a class="nav-link text-white btn btn-dark" href="{% url 'account_signup' %}">Sign Up</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <main class="flex-shrink-0 main-bg">
        {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}
    </main>

    <!-- Footer -->
    <footer class="footer mt-auto py-3">
        <p class="m-0 text-center">Order Foods & Delivery</p>
        <p class="m-0 text-center">Follow us: <i class="fab fa-facebook-square ms-3"></i>
            <i class="fab fa-twitter-square ms-3"></i>
            <i class="fab fa-instagram-square ms-3"></i>
            <i class="fab fa-youtube-square ms-3"></i>
        </p>
    </footer>
</body>

</html>