{% extends 'base.html' %}
{% block title %}Contact Us {% endblock %}

{% load static %}
{% load widget_tweaks %}

{% block content %}

<div class="container my-5">
    <div class="text-center mb-4">
        <h1>Contact Us</h1>
    </div>

<form method="POST" action="{{ Profile_View }}" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="form-group p-3">
        <div class="row">
            <div class="col-xl-6">
            <div>First Name:
                {% render_field form.first_name placeholder="First Name..." class+="form-control" %}
            </div>
        </div>
        <div class="col-xl-6">
            <div>Last Name:
                {% render_field form.last_name placeholder="Last Name..." class+="form-control" %}
            </div>
            </div>

    </div>
            <br>
            <div>Email Address:
                <div>{% render_field form.email placeholder="Email Address" class+="form-control" %}</div>
            </div>
            <br>
            <div>Message:
                <div>{% render_field form.message placeholder="write your message...." class+="form-control" %}</div>
            </div>
            <br>
    <div class="form-group w-100 text-center">
            <button class="btn btn-dark container-fluid w-75" type="submit">Send Message</button>
    </div>
</form>
</div>
{% endblock content %}