{% extends "base.html" %} {% block content %}
{% load static %}
<div class="mt-5 container-fluid bg-dark mb-5">
    <div class="row row-cols-2 below_container">
        <div class="col">
            <div class="d-flex justify-content-end"><img class="meal_img position-sticky"
                    srcset="https://res.cloudinary.com/dhl4uxgix/image/upload/v1690903223/Foods/vecteezy_dry-green-curry-with-chicken-in-white-plates-on-black-cement_72dpi_ykndp8.jpg 2800w"
                    src="https://res.cloudinary.com/dhl4uxgix/image/upload/v1690903223/Foods/vecteezy_dry-green-curry-with-chicken-in-white-plates-on-black-cement_72dpi_ykndp8.jpg"
                    alt="Design Display foods on table" sizes="60vw" class="d-inline-block align-text-middle" alt="">
            </div>
        </div>
        <div class="col row-cols-1 text-white">
            <div class="text_box_1">
                <h3> ipsum dolor sit amet</h3>
                <p>consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum
                    sociis
                    natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis,
                    ultricies nec, pellentesque
                    eu, pretium quis, sem. Nulla consequat massa quis enim.Donec pede justo, fringilla vel, aliquet
                    nec,
                    vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis
                    vitae, justo. Nullam dictum felis eu pede mollis pretium. </br>Integer tincidunt. Cras dapibus.
                </p>
            </div>
        </div>

        <div class="col row-cols-1 text-white">
            <div class="text_box_2 bottom_space">
                <h3> ipsum dolor sit amet</h3>
                <p>consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum
                    sociis
                    natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis,
                    ultricies nec, pellentesque
                    eu, pretium quis, sem. Nulla consequat massa quis enim.Donec pede justo, fringilla vel,
                    aliquet
                    nec,
                    vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis
                    vitae, justo. Nullam dictum felis eu pede mollis pretium. </br>Integer tincidunt. Cras
                    dapibus.
                </p>
            </div>
        </div>

        <div class="col">
            <div class="d-flex justify-content-start"><img class="dessert_img position-sticky"
                    srcset="https://res.cloudinary.com/dhl4uxgix/image/upload/v1690904152/Foods/vecteezy_freshly-baked-gourmet-cupcakes-with-raspberry-decoration_72dpi_qxrxro.jpg 2000w"
                    src="https://res.cloudinary.com/dhl4uxgix/image/upload/v1690904152/Foods/vecteezy_freshly-baked-gourmet-cupcakes-with-raspberry-decoration_72dpi_qxrxro.jpg"
                    alt="Design Display desserts on table" sizes="60vw" class="d-inline-block align-text-middle" alt="">

            </div>
        </div>
    </div>
</div>
{%endblock%}