{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="mt-5 container-fluid bg-dark mb-5">
    <div class="row cols-md-2">
        <div class="col-md-6">
            <div><img class="img-fluid" style="border: white solid 1em ;"
                    srcset="https://res.cloudinary.com/dhl4uxgix/image/upload/v1690903223/Foods/vecteezy_dry-green-curry-with-chicken-in-white-plates-on-black-cement_72dpi_ykndp8.jpg"
                    src="https://res.cloudinary.com/dhl4uxgix/image/upload/v1690903223/Foods/vecteezy_dry-green-curry-with-chicken-in-white-plates-on-black-cement_72dpi_ykndp8.jpg"
                    alt="Design Display foods on table" class="d-inline-block align-text-middle"
                    alt="Design Display foods on table">
            </div>
        </div>
        <div class="col-md-6 text-white">
            <div>
                <h3> ipsum dolor sit amet</h3>
                <p>consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum
                    sociis
                    natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis,
                    ultricies nec, pellentesque
                    eu, pretium quis, sem. Nulla consequat massa quis enim.Donec pede justo, fringilla vel, aliquet
                    nec,
                    vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis
                    vitae, justo. Nullam dictum felis eu pede mollis pretium. </br>Integer tincidunt. Cras dapibus.
                </p>
            </div>
        </div>
        <div class="col-md-6">
            <div><img class="img-fluid" style="border: white solid 1em ;"
                    srcset="https://res.cloudinary.com/dhl4uxgix/image/upload/v1690904152/Foods/vecteezy_freshly-baked-gourmet-cupcakes-with-raspberry-decoration_72dpi_qxrxro.jpg"
                    src="https://res.cloudinary.com/dhl4uxgix/image/upload/v1690904152/Foods/vecteezy_freshly-baked-gourmet-cupcakes-with-raspberry-decoration_72dpi_qxrxro.jpg"
                    alt="Design Display desserts on table" class="d-inline-block align-text-middle" alt="">

            </div>
        </div>

        <div class="col-md-6 text-white">
            <div>
                <h3> ipsum dolor sit amet</h3>
                <p>consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum
                    sociis
                    natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis,
                    ultricies nec, pellentesque
                    eu, pretium quis, sem. Nulla consequat massa quis enim.Donec pede justo, fringilla vel,
                    aliquet
                    nec,
                    vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis
                    vitae, justo. Nullam dictum felis eu pede mollis pretium. </br>Integer tincidunt. Cras
                    dapibus.
                </p>
            </div>
        </div>
    </div>
</div>
{%endblock%}