{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container-fluid bg-dark my-5">
    <div class="row cols-md-2">
        <div class="col-xl-6 text-center">
            <div><img class="img-fluid"
                    srcset="https://res.cloudinary.com/dhl4uxgix/image/upload/v1692107923/Foods/Four_images__ii98ob.png"
                    src="https://res.cloudinary.com/dhl4uxgix/image/upload/v1692107923/Foods/Four_images__ii98ob.png"
                    alt="Design Display foods on table" class="d-inline-block align-text-middle"
                    alt="Design Display foods on table">
            </div>
        </div>
        <div class="col-xl-6 text-white">
            <div>
                <div class="col mt-5 p-3  text" style=" line-height: 1.8;">
                    <h3 class="text_head"> Our Delicious and Nutritious</h3>
                    <p>Introducing our new line of organic foods, carefully crafted to nourish your body
                        and
                        soul. With
                        every bite, you'll feel
                        the difference in your energy levels, digestion, and overall well-being. Say goodbye to
                        processed
                        junk and hello to a
                        healthier, happier you with our delicious and nutritious offerings.
                    </p>
                    <p>
                        Eating healthy is important for your overall well-being and can help to keep you feeling
                        energized
                        throughout the day.
                        Eating a balanced diet made up of fresh fruits and vegetables, whole grains, lean proteins and
                        healthy fats can provide
                        your body with essential nutrients and ensure that your body is functioning properly. Eating a
                        variety of foods can also
                        help to diversify your diet and make it more enjoyable.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}