{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="container my-5">
    <div class="row">
        <div class="col-md-12 col-sm-12 p-3">
            <div class="text-center mb-4">
                <h2>Order Foods</h2>
            </div>
            <form method="POST">
                {% csrf_token %}
                <div class="dark-bg">
                    <button class="btn btn-dark text-white container-fluid text-uppercase" type="button"
                        data-bs-toggle="collapse" data-bs-target="#starter" aria-expanded="false"
                        aria-controls="starter">
                        Starter
                    </button>
                    <div class="collapse border border-bottom-0 border-5" id="starter">
                        <div class="card card-body dark-bg text-white">
                            {% for starter in starters %}

                            <div class="row">
                                <div class="col-xl-3 text-center">
                                    <img class="rounded img-fluid" src="{{ starter.image.url }}" width="350" height="200" />
                                </div>
                                <div class="col-xl-9">
                                    <div class="d-flex flex-row">
                                        <div class="form-group form-check">
                                            <input type="checkbox" name="items[]" class="form-check-input"
                                                value="{{ starter.pk }}">
                                            <label class="form-check-label">{{ starter.name }}<span id="boot-icon"
                                                class="bi bi-currency-euro"
                                                style="font-size: 1rem; color: bisque;"></span>{{ starter.price }}</label>
                                        </div>
                                    </div>
                                    <hr />
                                    <p>{{ starter.description }}</p>
                                </div>
                            </div>
                            <hr />
                            {% endfor %}
                        </div>
                    </div>
                </div>
            <br>
                <div class="dark-bg">
                    <button class="btn btn-dark text-white container-fluid text-uppercase" type="button"
                        data-bs-toggle="collapse" data-bs-target="#soup" aria-expanded="false"
                        aria-controls="collapseExample">
                        Soup
                    </button>
                    <div class="collapse border border-bottom-0 border-5" id="soup">
                        <div class="card card-body dark-bg text-white">
                            {% for soup in soups %}

                            <div class="row">
                                <div class="col-xl-3 text-center">
                                    <img class="rounded img-fluid" src="{{ soup.image.url }}" width="350" height="200" />
                                </div>
                                <div class="col-xl-9 ">
                                    <div class="d-flex flex-row">
                                        <div class="form-group form-check">
                                            <input type="checkbox" name="items[]" class="form-check-input"
                                                value="{{ soup.pk }}">
                                            <label class="form-check-label">{{ soup.name }}<span id="boot-icon"
                                                class="bi bi-currency-euro"
                                                style="font-size: 1rem; color: bisque;"></span>{{ soup.price }}</label>
                                        </div>
                                    </div>
                                    <hr />
                                    <p>{{ soup.description }}</p>
                                </div>
                            </div>
                            <hr />
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <br>
                <div class="dark-bg">
                    <button class="btn btn-dark text-white container-fluid text-uppercase" type="button"
                        data-bs-toggle="collapse" data-bs-target="#main" aria-expanded="false"
                        aria-controls="collapseExample">
                        Main
                    </button>
                    <div class="collapse border border-bottom-0 border-5" id="main">
                        <div class="card card-body dark-bg text-white">
                            {% for main in mains %}

                            <div class="row">
                                <div class="col-xl-3 text-center">
                                    <img class="rounded img-fluid" src="{{ main.image.url }}" width="350" height="200" />
                                </div>
                                <div class="col-xl-9 ">
                                    <div class="d-flex flex-row">
                                        <div class="form-group form-check">
                                            <input type="checkbox" name="items[]" class="form-check-input"
                                                value="{{ main.pk }}">
                                            <label class="form-check-label">{{ main.name }}<span id="boot-icon"
                                                class="bi bi-currency-euro"
                                                style="font-size: 1rem; color: bisque;"></span>{{ main.price }}</label>
                                        </div>
                                    </div>
                                    <hr />
                                    <p>{{ main.description }}</p>
                                </div>
                            </div>
                            <hr />
                            {% endfor %}
                        </div>
                    </div>
                </div>


                <br>
                <div class="dark-bg">
                    <button class="btn btn-dark text-white container-fluid text-uppercase" type="button"
                        data-bs-toggle="collapse" data-bs-target="#dessert" aria-expanded="false"
                        aria-controls="collapseExample">
                        Dessert
                    </button>
                    <div class="collapse border border-bottom-0 border-5" id="dessert">
                        <div class="card card-body dark-bg text-white">
                            {% for dessert in desserts %}

                            <div class="row">
                                <div class="col-xl-3 text-center">
                                    <img class="rounded img-fluid" src="{{ dessert.image.url }}" width="350" height="200" />
                                </div>
                                <div class="col-xl-9 ">
                                    <div class="d-flex flex-row">
                                        <div class="form-group form-check">
                                            <input type="checkbox" name="items[]" class="form-check-input"
                                                value="{{ dessert.pk }}">
                                            <label class="form-check-label">{{ dessert.name }}<span id="boot-icon"
                                                class="bi bi-currency-euro"
                                                style="font-size: 1rem; color: bisque;"></span>{{ dessert.price }}</label>
                                        </div>
                                    </div>
                                    <hr />
                                    <p>{{ dessert.description }}</p>
                                </div>
                            </div>
                            <hr />
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <br>
                <div class="dark-bg">
                    <button class="btn btn-dark text-white container-fluid text-uppercase" type="button"
                        data-bs-toggle="collapse" data-bs-target="#drink" aria-expanded="false"
                        aria-controls="collapseExample">
                        Drink
                    </button>
                    <div class="collapse border border-bottom-0 border-5" id="drink">
                        <div class="card card-body dark-bg text-white">
                            {% for drink in drinks %}

                            <div class="row">
                                <div class="col-xl-3 text-center">
                                    <img class="rounded img-fluid" src="{{ drink.image.url }}" width="350" height="200" />
                                </div>
                                <div class="col-xl-9 ">
                                    <div class="d-flex flex-row">
                                        <div class="form-group form-check">
                                            <input type="checkbox" name="items[]" class="form-check-input"
                                                value="{{ drink.pk }}">
                                            <label class="form-check-label">{{ drink.name }}<span id="boot-icon"
                                                class="bi bi-currency-euro"
                                                style="font-size: 1rem; color: bisque;"></span>{{ drink.price }}</label>
                                        </div>
                                    </div>
                                    <hr />
                                    <p>{{ drink.description }}</p>
                                </div>
                            </div>
                            <hr />
                            {% endfor %}
                        </div>
                    </div>
                </div>

            

                <div class="form-group pt-3">
                    <label for="name">Full Name</label>
                    <input required class="form-control" type="text" placeholder="Your Name" name="name" />
                </div>

                <div class="form-group pt-3">
                    <label for="name">Email Address</label>
                    <input required class="form-control" type="text" placeholder="example@company.com" name="email" />
                </div>

                <div class="form-group pt-3">
                    <label for="name">Street Address</label>
                    <input required class="form-control" type="text" placeholder="1234 Main St" name="street" />
                </div>

                <div class="row mb-5">
                    <div class="col-md-4 col-sm-12">
                        <div class="form-group pt-3">
                            <label for="name">City</label>
                            <input required class="form-control" type="text" placeholder="Douglas" name="city" />
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-12">
                        <div class="form-group pt-3">
                            <label for="name">County</label>
                            <input required class="form-control" type="text" placeholder="Cork" name="county" />
                        </div>
                    </div>

                    <div class=" col-md-4 col-sm-12">
                        <div class="form-group pt-3">
                            <label for="name">Eirecode</label>
                            <input required class="form-control" type="text" placeholder="T12 DG34" name="eirecode" />
                        </div>
                    </div>
                </div>

                <!-- Button trigger modal -->
                <div class="w-100 text-center">
                    <button type="button" class="btn btn-dark container-fluid w-75" data-bs-toggle="modal"
                        data-bs-target="#submitModal">
                        Submit Order!
                    </button>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="submitModal" tabindex="-1" role="dialog" aria-labelledby="submitModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="submitModalLabel">Submit Your Order!</h5>
                                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Go Back</button>
                                <button type="submit" class="btn btn-dark">Place Order!</button>
                            </div>

                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
{% endblock content %}