{% extends 'base.html' %}
{% block title %}Pay confirm{% endblock %}
{% block head %}
{{ 'super()' }}
{% endblock %}
{% load static %}

{% block content %}
<div class="container my-5">
    <div class="row justify-content-center mt-1">
        <div class="col-md-5 col-sm-12 p-4 text-center">
            <h1>Delivery to Door</h1>
            <p>Thank you for your order! Your food is being made and will be delivered soon!</p>
            {% for item in items.all %}
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <p>{{ item.name }} <span> &#8364; {{ item.price }}</span></p>
                </div>
            </div>
            {% endfor %}
            <hr>
            <p class="pt-3" style="font-weight: bolder; font-size: 1.4rem;">Total:<span> &#8364; {{ price }}</span></p>
            <a style="text-decoration: none;" class="btn btn-dark w-75" href="{% url 'home' %}">Go back to home</a>
        </div>
    </div>
</div>

{% endblock content %}