{% extends "base.html" %}
{% block title %}Profile Add{% endblock %}
{% block head %}
{{ 'super()' }}
{% endblock %}
{% load static %}
{% load widget_tweaks %}
{% block content %}

<div class="container my-5">
    <div class="text-center mb-4">
        <a style="text-decoration: none;" href="{% url 'profile' %}">
            <button class="d-flex justify-content-start btn btn-dark ms-5 mt-5">Go to Profile</button>
        </a>
        <h1>Create Profile</h1>
    </div>

<form method="POST" action="{{ Profile_View }}" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="form-group p-5">
            <div>Username:
                {% render_field form.user placeholder="your suggest Username..." class+="form-control" %}
            </div>
            <br>
            <div>Biograpy:
                {% render_field form.bio placeholder="write about yourself..." class+="form-control" %}
            </div>
            <br>
            <div>Upload your image:
                <div>{% render_field form.image class+="form-control" %}</div>
            </div>
            <br>
    <div class="form-group w-100 text-center">
            <button class="btn btn-dark container-fluid w-75" type="submit">Save</button>
    </div>
</form>
</div>
{% endblock content %}