{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container my-5">
    <div class="row">
        <div class="col-md-12 p-5">
            <div>
                <h2 class="d-flex justify-content-between">Profile
                <a href="{% url 'profile_add' %}" style="text-decoration: none;">
                    <button class="btn btn-dark">Add</button>
                </a>
            </h2>
            </div>
               
                    
                <hr>
            
                {% for item in profile_view %}
                    {% if item.user %}
                    <div class="row">
                        <div class="col-xl-3 text-center">
                        <img class="rounded-circle img-fluid border_tb" src="{{ item.image.url }}" width="300" height="300"/>
                </div>
                <div class="col-xl-9 ">
                    <div class="d-flex flex-row">
                    <div class="text-dark p-2"><strong>Name:</strong> {{ item.user }}</div>
                </div>
                    <div class="text-dark p-2"><strong>Biograpy:</strong><p>{{ item.bio }}</p></div>
                </div>
                </div>
                    </div>
                    {% else %}
                   
                    {% endif %}
                    <div class="btn">
                        <a href="/update/{{ item.id }}" style="text-decoration: none;">
                            <button class="btn btn-dark">Edit</button>
                        </a>
                        <a href="/delete/{{ item.id }}">
                            <button class="btn btn-dark">Delete</button>
                        </a>
                    </div>
                   
                    {% endfor %}
        </div>
    </div>

    {% endblock content %}