{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12 p-5">
            <div class="text-center">
                <h2>Profile</h2>
            </div>
            <img class="rounded-circle account-img" src="{{ user.image.url }}">
            <div class="media-body">
                <h2 class="account-heading">{{ user.username }}</h2>
                <p class="text-secondary">{{ user.email }}</p>
            </div>
        </div>
    </div>

    <form method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-12 col-sm-12 p-5">
                <div class="text-center">
                    <h2>Profile Information</h2>
                </div>
                {{ form.as_p }}
                {{ form.as_p }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 p-5">
                <div class="text-center">
                    <button type="button" class="btn btn-dark">
                        Update
                    </button>
                </div>
            </div>
        </div>
</div>
</form>
</div>
{% endblock content %}