{% extends "base.html" %}

{% load static %}

{% block content %}
<div class="container my-5">
    <div class="row d-flex justify-content-center my-3">
        <div class="col-md-8 text-white dark-bg my-3 p-5" style=" line-height: 1.8;">
            <h3>Message Auto Responsed</h3>
            <p>
                We understand the importance of timely communication, 
                which is why we guarantee a response to your email 
                within 3 business days. Our support team is always on 
                standby, ready to provide you with the necessary 
                guidance and support to ensure a seamless experience 
                with our products.</p>
                
                <p>With our customer support service, you can rest assured 
                that you are in good hands. Our team is knowledgeable, 
                friendly, and always willing to go the extra mile to 
                ensure your satisfaction. We take pride in our 
                commitment to excellence and strive to exceed your 
                expectations every step of the way.</p>
                
                <p>Thank you for choosing our products and for reaching 
                out to us. We look forward to serving you and providing 
                you with the best possible customer support experience.
                
                <p>Kindest regards,</p>
                <p>The Support Team</p>

           </div>
    </div>
</div>
{% endblock %}