body {
    background-color: #2A2F33;
}

.box5 {
    border: red solid 4px;
}

.box4 {
    border: blue solid 4px;
}


.dark-bg {
    background-color: #2A2F33;
}

.main-bg {

    background-color: #2A2F33;
}

.footer {
    background-color: #BBB6A5;
    color: #2A2F33;
}

.container {
    background-color: #BBB6A5;
    padding: 20px 0 50px;
}

.btn-signup {
    background-color: #2A2F33;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #8c9491;
    color: #fff;
}

/* Navbar bottom boarder line*/

.navbar {
    border-bottom: #BBB6A5 solid 3px;
    width: 100%;
}
.navbar-nav {
    background-color: #BBB6A5;
    color: #fff;
}

.navbar-nav > li > a {
    color: #2A2F33 !important;
    font-weight: bolder;
}

.navbar-nav > li > a:hover {
    background-color: #2A2F33 !important;
    color: #fff !important;

}

.active,
.navbar-nav > li > a::after {
    border: #2A2F33 solid 2px;
    color: #fff !important;

}

.nav-item {
    border-bottom: solid #2A2F33 4px;
    border-top: solid #2A2F33 3px;
}

.navbar-toggler {
    background-color: rgba(187, 182, 165, 1.000)
}

.border_tb {
    border: solid 10px #2A2F33;
}

@media(min-width: 770px) and (max-width:1250px) {
    span.logo_text {
        font-size: 0.8em;
    }

    .nav-brand {
        width: 40%;
        border: red solid 2px;
    }

    span.logo_text {
        font-size: 1em;
    }

    li {
        font-size: 0.8em;
    }

    img {
        max-width: 100%;
        height: auto;

    }

}


@media(min-width: 450px) and (max-width:770px) {
    span.logo_text {
        font-size: 1em;
        border: pink solid 2px;
        display: none;
    }

    .container {
        border-radius: 0;
        padding: 30px;
    }

    .brand_box {
        width: 60%;
        border: pink solid 2px;
    }


    img {
        max-width: 100%;
        height: auto;
    }

}

@media(min-width: 200px) and (max-width:450px) {
    span.logo_text {
        font-size: 1em;
        border: pink solid 2px;
        display: none;
    }


    .container {
        border-radius: 0;
        padding: 30px;
    }

    .brand_box {
        width: 70%;
    }

    .text {
        font-size: 0.8em;
    }

    .text_head {
        font-size: 1.5em;
    }

    img {
        max-width: 100%;
        height: auto;
    }

}
