body {
    background-color: #2A2F33;
}

.box5 {
    border: red solid 4px;
}

.box4 {
    border: blue solid 4px;
}

.p-2 {
    color: #fff;
}

.text-white {
    color: #BBB6A5;
}

.text-white:hover {
    color: #2A2F33;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #2A2F33;
}

.dark-bg {
    background-color: #2A2F33;
}

.main-bg {

    background-color: #2A2F33;
}

.footer {
    background-color: #BBB6A5;
    color: #2A2F33;
}

.container {
    background-color: #BBB6A5;
    padding: 20px 0 50px;
}

.btn-signup {
    background-color: #2A2F33;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #8c9491;
    color: #fff;
}

.link {
    color: #2A2F33;
    text-decoration: underline;
}

.link:hover,
.link:active {
    color: #8c8c9c;
    text-decoration: none;
}

/* Navbar bottom boarder line*/

nav {
    border-bottom: #BBB6A5 solid 3px;
}

.navbar {
    border-bottom: #BBB6A5 solid 3px;
    width: 100%;

}

li {
    margin-right: 40px;
    margin-top: 10px;
}

.active,
li:hover {
    background-color: #BBB6A5;
    transition: 0.7s;
    color: #2A2F33;
}

.navbar-toggler {
    background-color: rgba(187, 182, 165, 1.000)
}

.border_tb{
    border: solid 10px #2A2F33;
}


@media (min-width: 770px) and (max-width:1250px) {
    span.logo_text {
        font-size: 0.8em;
    }

    .brand_box {
        width: 40%;
    }

    span.logo_text {
        font-size: 1em;
    }

    li {
        font-size: 0.8em;
    }
}

@media (max-width: 550px) {}

@media (min-width: 450px) and (max-width:770px) {
    span.logo_text {
        font-size: 0.8em;
    }

    .container {
        border-radius: 0;
        padding: 30px;
    }

    .brand_box {
        width: 60%;
    }
}

@media (min-width: 200px) and (max-width:450px) {
    span.logo_text {
        /* font-size: 0.7em; */
        display: none;
    }

    .container {
        border-radius: 0;
        padding: 30px;
    }

    .brand_box {
        width: 70%;
    }

    .text {
        font-size: 0.8em;
    }

    .text_head {
        font-size: 1.5em;
    }
}