body {
    background-color: #2A2F33;
}

.dark-bg {
    background-color: #2A2F33;
}

span.logo_text {
    font-size: 1.5em;
}

.brand_box {
    max-width: 70%;
}

.main-bg {

    background-color: #2A2F33;
}

.footer {
    background-color: #BBB6A5;
    color: #2A2F33;
}

.container {
    background-color: #BBB6A5;
    padding: 20px 0 50px;
}

.btn-signup {
    background-color: #2A2F33;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #8c9491;
    color: #fff;
}

/* Navbar bottom boarder line*/

.navbar {
    border-bottom: #BBB6A5 solid 3px;
    width: 100%;
}
.navbar-nav {
    background-color: #BBB6A5;
    color: #fff;
}

.navbar-nav > li > a {
    color: #2A2F33 !important;
    font-weight: bolder;
}

.navbar-nav > li > a:hover {
    background-color: #2A2F33 !important;
    color: #fff !important;

}

.active,
.navbar-nav > li > a::after {
    border: #2A2F33 solid 2px;
    color: #fff !important;

}

.nav-item {
    border-bottom: solid #2A2F33 4px;
    border-top: solid #2A2F33 3px;
}

.navbar-toggler {
    background-color: rgba(187, 182, 165, 1.000)
}

/* Profile image resizing */

.rounded-circle{
    border: #2A2F33 solid 15px;
}

/* 
Alert Style 
Use Alert sytle by https://codepen.io/skazee/pen/xVvWdq
but I had a few change style. 
*/

#modalContainer {
	background-color:rgba(0, 0, 0, 0.3);
	position:absolute;
    top:0;
	width:100%;
	height:100%;
	left:0px;
	z-index:10000;
	background-image:url(tp.png); /* required by MSIE to prevent actions on lower z-index elements */
}

#alertBox {
	position:relative;
	width:40%;
	min-height:100px;
    max-height:400px;
	margin:50px auto;
	border:1px solid #fff;
	background-color:#fff;
	background-repeat:no-repeat;
    top:30%;
}

#modalContainer > #alertBox {
	position:fixed;
}

#alertBox h1 {
	margin:0;
	font:bold 1em Raleway,arial;
	background-color:#f97352;
	color:#FFF;
	border-bottom:1px solid #f97352;
	padding:10px 0 10px 5px;
}

#alertBox p {
	height:fit-content;
    padding: 10px;
    text-align:left;
    vertical-align:middle;
}

#alertBox #closeBtn {
	display:block;
	position:relative;
	margin:10px auto 10px auto;
	padding:7px;
	border:0 none;
	width:fit-content;
	text-transform:uppercase;
	text-align:center;
	color:#FFF;
	background-color:#f97352;
	border-radius: 0px;
	text-decoration:none;
    outline:0!important;
}

/* unrelated styles */

#mContainer {
	position:relative;
	width:600px;
	margin:auto;
	padding:5px;
	border-top:2px solid #fff;
	border-bottom:2px solid #fff;
    border: red solid 3px;
}

h1,h2 {
	margin:0;
	padding:4px;
}

code {
	font-size:1.2em;
	color:#069;
}

#credits {
	position:relative;
	margin:25px auto 0px auto;
	width:350px; 
	font:0.7em verdana;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
	height:90px;
	padding-top:4px;
}

#credits img {
	float:left;
	margin:5px 10px 5px 0px;
	border:1px solid #000000;
	width:80px;
	height:79px;
}

.important {
	background-color:#F5FCC8;
	padding:2px;

}

/* Alert Style responsive */

@media (max-width: 600px) 
{
  #alertBox {
	position:relative;
	width:90%;
    top:30%;
}
}

/* Responsive between 1080 and 1190 for Navbar with logo and text, other images */
@media(min-width: 1080px) and (max-width:1190px) {
    span.logo_text {
        font-size: 1.4em;
    }

    .brand_box {
        max-width: 80%;
    }


    li {
        font-size: 0.8em;
    }

    img {
        max-width: 100%;
        height: auto;
    }

}

/* Responsive between 990 and 1080 for Navbar with logo and text, other images */
@media(min-width: 990px) and (max-width:1080px) {
    span.logo_text {
        font-size: 1em;
    }

    .brand_box {
        max-width: 60%;
    }


    li {
        font-size: 0.8em;
    }

    img {
        max-width: 100%;
        height: auto;
    }

}

/* Responsive between 624 and 990 for Navbar with logo and text, other images */
@media(min-width: 624px) and (max-width:990px) {
    span.logo_text {
        font-size: 1.6em;
    }
 
    .container {
        border-radius: 0;
        padding: 30px;
    }

    .brand_box {
        width: 50%;
    }


    img {
        max-width: 100%;
        height: auto;
    }

}

/* Responsive between 200 and 624 for Navbar with logo and hide the text, other images, 
and paragraph text size */
@media(min-width: 200px) and (max-width:624px) {
    span.logo_text {
        display: none;
    }

    .container {
        border-radius: 0;
        padding: 30px;
    }

    .brand_box {
        max-width: 100%;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    p{
        font-size: 1.1em;
    }

}
